<!DOCTYPE html>
<html>
  <head>
    <title>WaterQualityMonitoringSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'flash' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.7.0/css/all.css' %>
  </head>

  <body>
    <% if session[:current_user_id] %>
      <%= render "layouts/nav" %>
    <% end %>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
